.main-register .google {
  background: conic-gradient(
      from -45deg,
      #ea4335 110deg,
      #4285f4 90deg 180deg,
      #34a853 180deg 270deg,
      #fbbc05 270deg
    )
    110% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  padding-right: 1rem;
  font-size: 1.5rem;
}

.auth-page h1 {
  font-size: 48px;
  font-family: Kanit;
  margin-top: 90px;
  text-align: center;
}

.auth-page form {
  display: inline-block;
  text-align: left;
  margin-top: 100px;
  font-family: Kanit;
  color: #ada9bb;
}

.auth-page input {
  width: 480px;
  height: 61px;
  border-radius: 8px;
}

.auth-page .btn-register {
  width: 100%;
  background-color: #5784ba;
  color: white;
  height: 61px;
  margin-top: 90px;
  border-radius: 8px;
}

.auth-page .btn-register-google {
  width: 100%;
  background-color: #cdd0d4;
  color: black;
  height: 61px;
  margin-top: 20px;
  font-weight: 700;
  border-radius: 8px;
}

.auth-page p {
  font-family: Kanit;
  color: #ada9bb;
  margin-top: 90px;
}

.auth-page span {
  font-family: Kanit;
  color: #5784ba;
}

.auth-page a {
  text-decoration: none;
}

@media (max-width: 425px) {
  .auth-page form {
    display: inline-block;
    width: 300px;
    height: 71px;
  }

  .auth-page input {
    width: 100%;
    height: 50px;
    border-radius: 8px;
  }
}

@media (max-width: 375px) {
  .auth-page form {
    display: inline-block;
    width: 300px;
    height: 71px;
  }

  .auth-page input {
    width: 100%;
    height: 50px;
    border-radius: 8px;
  }
}

@media (max-width: 320px) {
  .auth-page form {
    display: inline-block;
    width: 300px;
    height: 71px;
  }

  .auth-page input {
    width: 100%;
    height: 50px;
    border-radius: 8px;
  }
}
