.profile-page .card {
  margin-top: 16px;
  border-radius: 24px;
  margin-left: 1rem;
}

.card-body {
  margin-top: 40px;
}

.card-body i {
  margin-top: 2rem;
}

.card-body span {
  font-family: Kanit;
  font-weight: 400;
  margin-top: 40px;
  margin-left: 20px;
}

.card-body .line {
  border-bottom: 1px solid black;
  width: 1126px;
  margin-top: 24px;
}

.card-title {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 24px;
}
.change-settings hr {
  border-top: 2px solid black;
  opacity: 1;
  margin: 1rem 0;
  padding-right: 3rem;
}

@media (max-width: 1440px) {
  .profile-page .card {
    border-radius: 24px;
  }
}

@media (max-width: 1024px) {
  .profile-page .card {
    border-radius: 24px;
  }
}

@media (max-width: 768px) {
  .profile-page .card {
    border-radius: 24px;
  }
}
