.profile-page .card {
  margin-top: 16px;
  border-radius: 24px;
  margin-left: 1rem;
}

.card-body {
  margin-top: 40px;
}

.card-body i {
  margin-top: 2rem;
}

.card-body span {
  font-family: Kanit;
  font-weight: 400;
  margin-top: 40px;
  margin-left: 20px;
}

.card-body .line {
  border-bottom: 1px solid black;
  width: 1126px;
  margin-top: 24px;
}

.card-title {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 24px;
}
.change-settings hr {
  border-top: 2px solid black;
  opacity: 1;
  margin: 1rem 0;
  padding-right: 3rem;
}
.profile-background {
  height: 20rem;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px 20px 0 0;
  margin: 12px;
}

.profile-icon {
  width: 200px;
  height: 200px;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 100%;
  object-fit: cover;
}

.profile-icon:hover {
  cursor: pointer;
}

.change-settings-number input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
}

.card-body .btn-submit {
  background-color: #5784ba;
  color: white;
  font-family: Montserrat;
  border-radius: 8px;
}

.profile-name-text {
  color: white;
  font-size: 24px;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  text-align: center;
}
.profile-name-text:focus-visible {
  outline: 0px;
}

@media (max-width: 1440px) {
  .profile-page .card {
    border-radius: 24px;
  }
}

@media (max-width: 1024px) {
  .profile-page .card {
    border-radius: 24px;
  }
}

@media (max-width: 768px) {
  .profile-page .card {
    border-radius: 24px;
  }
}
