.main-home {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #e6edf6;
}

.column-middle {
  display: flex;
  flex-direction: column;
  margin-right: 34%;
}

/* background */
.bd-slider,
.bd-schedule,
.bg-messages {
  background-color: #ffffff;
  border-radius: 25px;
  /* margin-top: 1rem; */
}

/* desain image slider */
.bd-slider {
  height: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.slide-container {
  position: relative;
  max-height: 400px;
}
ul.indicators {
  position: absolute;
  z-index: 1;
  bottom: 1rem;
  padding-left: 50%;
  text-align: center;
}

.react-slideshow-container
  + ul.indicators
  .each-slideshow-indicator:nth-child(1):before {
  background: #ffffff;
}

.slider-caption {
  background: linear-gradient(0deg, #000000 -15.5%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  color: #f9f9f9;
  width: 100%;
  height: 100%;
  padding-top: 30%;
  padding-left: 10%;
  padding-right: 10%;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.image-item {
  background-size: cover;
  width: 100%;
  height: 400px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.title-slider h1,
.carousel-caption h3,
.title-date h1,
.title-chat h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 23.66px;
  padding-left: 2rem;
}
.title-slider h1,
.title-date h1,
.title-chat h1 {
  color: #000000;
  line-height: 80px;
}

.carousel-caption h3 {
  color: #f9f9f9;
}
/* desain schedule */
.bd-schedule {
  background-color: #ffffff;
  margin-bottom: 1rem;
  height: 100%;
}

.title-date {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

.title-date i {
  text-align: center;
  padding-right: 3rem;
}

.select-date {
  display: flex;
  justify-content: space-evenly;
}

.click-day {
  cursor: pointer;
  width: 40px;
  text-align: center;
  background-color: #5784ba;
  border-radius: 10px;
}
.non-click {
  cursor: pointer;
  width: 40px;
  text-align: center;
}
.fa-calendar-alt {
  cursor: pointer;
}

/* .click-day:hover,
.non-click:hover {
  background-color: #5784ba;
  border-radius: 10px;
} */

.option-schedule {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.option-schedule h5 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ada9bb;
}
.loader-modal {
  display: flex;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  /* align-items: center; */
  top: 0;
  padding-top: 50vh;
  z-index: 9999;
}
.loader {
  display: flex;
  justify-content: center;
}
.view-detail-loader {
  margin-top: 25%;
  margin-bottom: 25%;
}
.option-schedule h5:hover {
  color: #5784ba;
  font-weight: 900;
}
.option-schedule .option-all {
  color: #5784ba;
  font-weight: 900;
}
.schedule-scroll {
  overflow-y: scroll;
  height: 210px;
}

.bg-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.bg-card .time-classes {
  padding: 0rem 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 15.9531px;
  letter-spacing: 0.05em;
  max-height: 185px;
  height: 100%;
  color: #000000;
  display: flex;
  align-items: center;
  background: #ffffff;
  border-radius: 10px;
  border: 1px solid #ffffff;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.bg-card .title-classes {
  height: 89px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18.5694px;
  letter-spacing: 0.05em;
  color: #000000;
  width: 400px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

/* desain message */
.messages {
  height: 100%;
  padding-bottom: 1rem;
  padding-top: 1rem;
  position: fixed;
  right: 1%;
}
.bg-messages {
  height: 100%;
}
.title-chat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 2rem;
}
.fa-plus-circle {
  cursor: pointer;
}
.chat-scroll {
  overflow-y: scroll;
  height: 700px;
}
.chat-body {
  cursor: pointer;
}
.chat-body:hover {
  background-color: #91aed1;
}

.box-search {
  text-align: center;
}

.fa-search {
  position: relative;
  left: 2rem;
}

.box-search input {
  width: 86%;
  height: 47.88px;
  border-radius: 20px;
}

.box-search input:focus-visible {
  outline: none;
}

.chat-scroll h1 {
  font-family: Kanit;
  font-style: normal;
  font-weight: normal;
  font-size: 21.2012px;
  line-height: 32px;
  color: #000000;
}

.chat-scroll h5 {
  font-family: Kanit;
  font-style: normal;
  font-weight: normal;
  font-size: 14.1341px;
  line-height: 21px;
  color: #787878;
}
.active {
  color: #2f2f2f !important;
}
.schedule-class {
  display: flex;
  justify-content: space-around;
  padding: 10px 10px;
  height: 90px;
}

.schedule-class .schedule-container {
  justify-content: space-between;
  padding: 0rem 1rem;
  width: 100%;
  height: 100%;
  color: #000000;
  display: flex;
  background: #ffffff;
  border-radius: 10px;
  border: 1px solid #ffffff;
  box-shadow: 0px 3px 10px rgb(0 0 0 / 0.2);
}

.schedule-class .time {
  font-size: 16px;
  text-align: end;
  align-self: center;
}

.schedule-class .class {
  width: 70%;
  align-self: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.05em;
  padding-left: 1rem;
}

.schedule-class .circle-bar {
  width: 40px;
  height: 40px;
  align-self: center;
}
.schedule-class .capacity,
.schedule-class .icon {
  align-self: center;
}
.btn-class button {
  max-width: 157.87px;
  max-height: 50.52px;
  width: 100%;
  height: 100%;
  background: #5784ba;
  border-radius: 31.5733px;
  font-family: Kanit;
  font-style: normal;
  font-weight: normal;
  font-size: 18.944px;
  line-height: 28px;
  color: #ffffff;
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .main-home {
    display: flex;
    flex-direction: column;
  }
  .column-middle {
    align-self: center;
    margin-right: 5%;
  }
  .bd-slider,
  .bd-schedule {
    width: 120%;
  }
  .icon-message {
    bottom: 3%;
    margin-right: 2%;
    font-size: 4rem;
    position: fixed;
    right: 1%;
  }
  .message-container {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.53);
    z-index: 500;
    height: 130vh;
    width: 100%;
  }
  .messages {
    z-index: 1000;
    right: 50%;
    width: 50%;
    padding-bottom: 1rem;
    top: 9%;
  }

  .bg-messages {
    z-index: 900;
    width: 200%;
    height: 90%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .main-home {
    display: flex;
    flex-direction: column;
  }
  .column-middle {
    align-self: center;
    margin-right: 5%;
  }
  .bd-slider,
  .bd-schedule {
    width: 120%;
  }
  .icon-message {
    bottom: 3%;
    margin-right: 2%;
    font-size: 4rem;
    position: fixed;
    right: 1%;
  }
  .message-container {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.53);
    z-index: 500;
    height: 130vh;
    width: 100%;
  }
  .messages {
    z-index: 1000;
    right: 50%;
    width: 50%;
    padding-bottom: 1rem;
    top: 9%;
  }

  .bg-messages {
    z-index: 900;
    width: 200%;
    height: 90%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .main-home {
    display: flex;
    flex-direction: column;
  }
  .column-middle {
    align-self: center;
    margin-right: 5%;
  }
  .bd-slider,
  .bd-schedule {
    width: 120%;
  }
  .icon-message {
    bottom: 3%;
    margin-right: 2%;
    font-size: 4rem;
    position: fixed;
    right: 1%;
  }
  .message-container {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.53);
    z-index: 500;
    height: 130vh;
    width: 100%;
  }
  .messages {
    z-index: 1000;
    right: 50%;
    width: 50%;
    padding-bottom: 1rem;
    top: 9%;
  }

  .bg-messages {
    z-index: 900;
    width: 200%;
    height: 90%;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  .main-home {
    display: flex;
    flex-direction: row;
  }
  .title-slider h1,
  .carousel-caption h3,
  .title-date h1,
  .title-chat h1 {
    font-size: 1.5rem;
  }
  .slide-container {
    max-height: 300px;
  }

  h2 {
    font-size: 1rem;
  }
  .image-item {
    background-size: cover;
    width: 100%;
    height: 300px;
  }
}
@media only screen and (min-width: 1400px) {
  .main-home {
    display: flex;
    flex-direction: row;
  }
}
