/* navbar large untuk ukuran normal
  navbar resize untuk ukuran < 1200px
*/

/* desain navbar resize */
.navbar {
  background: #5784ba;
}

.navbar-resize {
  border-radius: 0rem;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.navbar-resize .link-profile {
  margin-left: 2rem;
}

.navbar-resize i {
  padding-right: 1rem;
}

.navbar-resize .navbar-nav a {
  margin-left: 2rem;
  margin-right: 2rem;
}

.navbar-resize .navbar-nav {
  align-items: flex-start;
}

.navbar-resize h1 {
  line-height: 10px;
  cursor: pointer;
  position: relative;
  bottom: 3rem;
  left: 10rem;
  color: #ffffff;
}

.navbar-resize p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #f9f9f9;
}

.navbar-resize a {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 80px;
  color: #ffffff;
  text-decoration: none;
}

.navbar-resize a:hover,
.navbar-resize a:active,
.navbar-resize span:active,
.navbar-resize span:hover {
  color: #2f2f2f;
}

.navbar-resize span {
  color: #ff1313;
}

.navbar-resize .navbar-collapse {
  justify-content: center;
}

/* desain navbar-large */

.navbar-large .navbar-collapse {
  justify-content: center;
}

.navbar-large {
  border-radius: 1rem;
  height: 100%;
}

.navbar-profile {
  margin-top: 6rem;
  margin-bottom: 4rem;
  padding-left: 4rem;
}

.navbar-profile img {
  margin-bottom: 2rem;
}

.link-profile,
.fa-times {
  cursor: pointer;
}

.navbar-large .navbar-nav {
  align-items: center;
}

.navbar-profile .fas {
  cursor: pointer;
  position: relative;
  bottom: 3rem;
  left: 10rem;
  color: #ffffff;
}

.navbar-large h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #f9f9f9;
}

.navbar-large p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #f9f9f9;
}

.navbar-large .menu-items {
  margin-bottom: 8rem;
  text-align: center;
  padding-left: 4rem;
  width: 100%;
}

.navbar-large .menu-items i {
  padding-right: 1.5rem;
  font-size: 1.7rem;
  line-height: 80px;
}

.navbar-large a {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 80px;
  color: #ffffff;
  text-decoration: none;
  display: flex;
  text-align: center;
}

.navbar-large a:hover,
.navbar-large a:active,
.navbar-large span:active,
.navbar-large span:hover {
  color: #2f2f2f;
}

.navbar-large span {
  color: #ff1313;
  display: flex;
}

.navbar-toggler {
  margin: 0 1rem;
}

/* desain click notification bell */
.open-notification {
  position: absolute;
  z-index: 2;
  bottom: -0.1rem;
  left: 20rem;
  border-radius: 15px;
  padding: 1rem 1rem 1rem 1rem;
  background: #5784ba;
  width: 300%;
  height: 100%;
}
