.navbar-profile {
  margin-bottom: 3rem;
}

.navbar-profile img {
  margin-bottom: 2rem;
}

.icon-notification {
  width: 616px;
}

.navbar {
  background: #5784ba;
  height: 940px;
  width: 300px;
  margin: 1rem 0rem 1rem 1rem;
  margin-right: 1rem;
  border-radius: 1rem;
}

.navbar-profile .fas {
  cursor: pointer;
  position: relative;
  bottom: 3rem;
  left: 10rem;
  color: #ffffff;
}

.navbar h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #f9f9f9;
}

.navbar p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #f9f9f9;
}

.menu-items {
  margin-bottom: 8rem;
  text-align: center;
}

.menu-items i {
  padding-right: 1.5rem;
  font-size: 1.7rem;
  line-height: 80px;
}

.navbar a {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 80px;
  color: #ffffff;
  text-decoration: none;
  display: flex;
  text-align: center;
}

.navbar a:hover,
.navbar a:active,
.navbar span:active,
.navbar span:hover {
  color: #2f2f2f;
}

.navbar span {
  color: #ff1313;
  display: flex;
}
