/* CSS FOR FORGET PASSWORD */
.icon-forget .fas {
  color: #010620;
  cursor: pointer;
  padding: 4rem 0 0 4rem;
}

.icon-forget .fas:hover {
  color: #5784ba;
}

.main-forget img {
  max-width: 443px;
  max-height: 443px;
}

.main-forget .left,
.main-forget .right {
  text-align: center;
}

.main-forget .right {
  background: #ffffff;
  height: 100vh;
}

.main-forget h1 {
  font-family: Kanit;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 72px;
  color: #010620;
  margin-bottom: 7rem;
}

.main-forget h5 {
  font-family: Kanit;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #010620;
}

.main-forget .form-email p {
  font-family: Kanit;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #837f8f;
  padding: 0 15rem;
  margin-bottom: 5rem;
}

.main-forget .form-email label {
  font-family: Kanit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #ada9bb;
  top: 0.7rem;
  right: 12rem;
}

.main-forget input,
.main-forget button {
  width: 480px;
  height: 61px;
  padding-left: 1rem;
}

.main-forget input {
  background: #ffffff;
  border: 1px solid #ada9bb;
  box-sizing: border-box;
  border-radius: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #010620;
}

.main-forget input:focus-visible {
  outline: #ada9bb;
}

.main-forget button {
  font-family: Kanit;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
  background: #5784ba;
  border-radius: 10px;
}

.main-forget a {
  text-decoration: none;
}

/* CSS FOR FORGET PASSWORD VERIFICATION CODE */
/* .main-forget h1 {
    margin-bottom: 2rem;
}

.main-forget .form-verification h5 {
  padding: 0 15rem;
  margin: 5rem 0;
}

.main-forget .form-verification input {
  font-family: Kanit;
  font-style: normal;
  font-weight: 500;
  font-size: 53.3333px;
  line-height: 80px;
  color: #010620;
  max-width: 66px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2.66667px solid #010620;
  border-radius: 0%;
  padding: 0%;
  text-align: center;
  margin: 0 1rem;
}

.main-forget .form-verification p {
  font-family: Kanit;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  color: #ada9bb;
  margin-bottom: 7rem;
}

.main-forget .form-verification span {
  color: #5784ba;
}

.main-forget span:hover {
  color: teal;
} */
