/* CSS FOR FORGET PASSWORD */
.icon-forget .fas {
  color: #010620;
  cursor: pointer;
  padding: 4rem 0 0 4rem;
}

.icon-forget .fas:hover {
  color: #5784ba;
}

.main-forget img {
  max-width: 443px;
  max-height: 443px;
}

.main-forget .left,
.main-forget .right {
  text-align: center;
}

.main-forget .right {
  background: #ffffff;
  height: 100vh;
}

.main-forget h1 {
  font-family: Kanit;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 72px;
  color: #010620;
  margin-bottom: 7rem;
}

.main-forget h5 {
  font-family: Kanit;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #010620;
}

.main-forget .form-email p {
  font-family: Kanit;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #837f8f;
  padding: 0 15rem;
  margin-bottom: 5rem;
}

.main-forget .form-email label {
  font-family: Kanit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #ada9bb;
  top: 0.7rem;
  right: 12rem;
}

.main-forget input,
.main-forget button {
  width: 480px;
  height: 61px;
  padding-left: 1rem;
}

.main-forget input {
  background: #ffffff;
  border: 1px solid #ada9bb;
  box-sizing: border-box;
  border-radius: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #010620;
}

.main-forget input:focus-visible {
  outline: #ada9bb;
}

.main-forget button {
  font-family: Kanit;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
  background: #5784ba;
  border-radius: 10px;
}

.main-forget a {
  text-decoration: none;
}

/* CSS FOR FORGET PASSWORD VERIFICATION CODE */
.main-forget h1 {
  margin-bottom: 2rem;
}

.main-forget .form-verification h5 {
  padding: 0 15rem;
  margin: 5rem 0;
}

.main-forget .form-verification input {
  font-family: Kanit;
  font-style: normal;
  font-weight: 500;
  font-size: 53.3333px;
  line-height: 80px;
  color: #010620;
  max-width: 66px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2.66667px solid #010620;
  border-radius: 0%;
  padding: 0%;
  text-align: center;
  margin: 0 1rem;
}

.main-forget .form-verification p {
  font-family: Kanit;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  color: #ada9bb;
  margin-bottom: 7rem;
}

.main-forget .form-verification span {
  color: #5784ba;
}

.main-forget span:hover {
  color: teal;
}

/* Tablet devices (Tablet, 768px ) */
@media only screen and (max-width: 549px) {
  .main-forget {
    flex-direction: column;
  }
  .icon-forget .fas {
    padding-top: 1rem;
    padding-left: 1rem;
  }
  .main-forget img {
    width: 130px;
    height: 130px;
    position: relative;
    top: 1rem;
  }

  .main-forget .container .left {
    height: 50%;
  }
  .main-forget .right {
    height:50%;
  }

  .main-forget input {
    width: 70%;
  }

  .main-forget h1 {
    font-size: 25px;
    margin-bottom: 0rem;
  }
  .main-forget .form-email p {
    font-size: 15px;
    padding: 0 1rem;
  }
  .main-forget .form-email label {
    font-size: 14px;
    top: 0.7rem;
    right: 5rem;
  }
  .main-forget h5 {
    font-size: 18px;
    padding: 0 0rem;
    margin: 0rem 0;
  }
  .main-forget button {
    width: 70%;
  }
}

/* Tablet devices (Tablet, 768px ) */
@media only screen and (min-width: 550px) and (max-width: 768px) {
  .main-forget {
    flex-direction: column;
  }
  .main-forget img {
    width: 30%;
    height: 40%;
    position: relative;
    top: 9rem;
  }
  .main-forget h1 {
    font-size: 30px;
    margin: 0;
  }
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .main-forget .left {
    height: 50%;
  }
  .main-forget .right {
    height: 50%;

  }
  .main-forget h5 {
    font-size: 20px;
  }
  .main-forget .form-email p {
    font-size: 18px;
    padding: 0 5rem;
    margin-bottom: 3rem;
  }
  .main-forget .form-verification p {
    padding: 0 10rem;
    margin: 2rem 0;
  }
  .main-forget .form-verification h5 {
    font-size: 25px;
    padding: 0 1rem;
    margin: 5rem 0;
  }
  .main-forget .form-verification input {
    font-size: 40px;
  }
  .main-forget .form-email label {
    font-size: 14px;
    top: 0.7rem;
    left: -9rem;
  }

  .main-forget input {
    width: 85%;
    font-size: 20px;
  }
  .main-forget button {
    width: 85%;
  }
}

/* Large devices (laptops/desktops, 1024px ) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .main-forget h1 {
    font-size: 35px;
    line-height: 72px;
    margin-bottom: 0rem;
  }
  .main-forget img {
    width: 50%;
    height: 50%;
  }

  .main-forget h5 {
    font-size: 20px;
  }
  .main-forget .form-email p {
    font-size: 18px;
    padding: 0 5rem;
    margin-bottom: 3rem;
  }
  .main-forget .form-verification p {
    padding: 0 10rem;
    margin: 2rem 0;
  }
  .main-forget .form-verification h5 {
    font-size: 25px;
    padding: 0 1rem;
    margin: 5rem 0;
  }
  .main-forget .form-verification input {
    font-size: 40px;
  }
  .main-forget .form-email label {
    font-size: 14px;
    top: 0.7rem;
    left: -9rem;
  }

  .main-forget input {
    width: 85%;
    font-size: 20px;
  }
  .main-forget button {
    width: 85%;
  }
}

/* Extra large devices (large laptops and desktops, 1440px) */
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .main-forget .form-email p {
    font-size: 20px;
    padding: 0 5rem;
  }
  .main-forget .form-verification p {
    margin: 1rem 0;
  }
  .main-forget .form-verification h5 {
    padding: 0 10rem;
    margin: 5rem 0;
  }
}
